<div class="container">
    <div class="row mt-5 product-section">
        <div class="col-sm-2 d-none d-sm-block">
           
            <div class="thumbnail-container">
                <div class="top-arrow arrow">
                    <span>&#8593</span>
                </div>
                <div class="bottom-arrow arrow">
                    <span>&#8595</span>
                </div>
                <div>
                    <%= image_tag "sample-tshirt.jpg", class:"product-thumbnail mt-4"%>
                </div>
                <div>
                    <%= image_tag "sample-tshirt.jpg", class:"product-thumbnail mt-3"%>
                </div>
                <div>
                    <%= image_tag "sample-tshirt.jpg", class:"product-thumbnail mt-3"%>
                </div>
                <div>
                    <%= image_tag "sample-tshirt.jpg", class:"product-thumbnail mt-3"%>
                </div>
                <div>
                    <%= image_tag "sample-tshirt.jpg", class:"product-thumbnail mt-3"%>
                </div>
                <div>
                    <%= image_tag "sample-tshirt.jpg", class:"product-thumbnail mt-3"%>
                </div>
                <div>
                    <%= image_tag "sample-tshirt.jpg", class:"product-thumbnail mt-3"%>
                </div>
            </div>
            
        </div>
        <div class="col-sm-4 bg-primary text-white product-image">
            col2
        </div>
        <div class="col-sm-3">
            <h3>Joker Bat T-shirt</h3>
            <p>KES 1200</p>
            <P>COLOR: <span class="text-muted">Black</span></P>
            <div class="d-flex product-color-box">
               <div class="product-color bg-primary"></div>
               <div class="product-color bg-warning"></div>
               <div class="product-color bg-dark"></div>
            </div>
            <div class="product-size-box">
                <p>SIZE: <span class="text-muted">Small</span></p>
                <div class="product-size d-flex">
                    <P>S</P>
                    <P>M</P>
                    <P>L</P>
                    <P>XL</P>
                    <P>XXL</P>
                </div>
            </div>
            <p>View fit guide</p>
            <div class="d-flex quantity-selector">
                <div class="flex-fill qty-change">-</div>
                <div class="flex-fill">2</div>
                <div class="flex-fill qty-change">+</div>
            </div>
            <button class="btn_add_to_cart bg-dark text-white">ADD TO CART</button>
        </div>
    </div>

</div>
</div>

